.principal{
	display:grid;
	grid-template-columns:20% 70%;
	grid-column-gap: 5%;
	justify-content:stretch;
	align-content:stretch;
	color:white;
	font-weight:bold;
}

.nav{}
.content{
	text-align:center;
}
h1.content{
	text-align:center;
	font-size:35px;
	margin:3%;
}
h2.content{
	text-align:center;
	font-size:27px;
	margin:1.5%;
}

h3.content{
	text-align:center;
	font-size:25px;
	
	margin:1.5%;
	margin-top: 30px;
	margin-bottom: 15px;
}

p.content{
	line-height:1.4; 
	font-size:18px; 
	float:none;
	text-align:justify; 
	margin:4%;
}
 
 ul { 
 list-style-type: circle;
  list-style-position: inherit;
} 
 li {
  text-align:justify;
  font-size:18px;
  margin:2%;
}

#highlight { background-color:#FFFFFF; }

#evento {
	box-shadow: 12px 9px 11px 2px rgba(204,236,239,0.62);
	background-image: url('../media/css/fondoEvento.jpg');
	text-align:center;
	color:black;
	margin:2%;
	padding:5%;
}

.marco {
	color:black;
  margin:5%;
  text-align:center;
  padding: 1rem;
  width: 90%;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
  background-image: url('../media/css/fondoMarco.png');
  border-radius: 0.5rem;
  border-left: 0 solid #61f9f9;
  transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

.buttonCE {
	background:linear-gradient(to bottom, #ece2c6 5%, #daa520 100%);
	border-radius:25px;
	border:1px solid #050505;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:15px 22px;
	text-decoration:none;
	margin:1%;
}
.buttonCE:hover {
	background:linear-gradient(to bottom, #daa520 5%, #ece2c6 100%);
}

.buttonFG{
	background:#2badf2;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:1% 3%;
	margin:1%;
	text-decoration:none;
}
.buttonFG:hover {
	background:linear-gradient(to bottom, #2387e1 5%, #79bbff 100%);
}

#misGruposPrivados{
	background:#daa520;
	border:1px solid #daa520;
}
#misGruposPrivados:hover {
	background:linear-gradient(to bottom, #daa520 5%, #b8860b 100%);
	border:1px solid #b8860b;
}

#misGruposPublicos{
	background:#aaa9ad ;
	border:1px solid #aaa9ad ;
}
#misGruposPublicos:hover {
	background:linear-gradient(to bottom, #aaa9ad  5%, #85868c 100%);
	border:1px solid #85868c;
}

#nuevo{
	background:#09bd8e;
	border:1px solid #09bd8e;
}
#nuevo:hover {
	background:#08926e;
	border:1px solid #08926e;
}

#exit{
	background:#f74b4b;
	border:1px solid #f74b4b;
}
#exit:hover {
	background:#e54747;
	border:1px solid #e54747;
}

.buttonDefault{
	background:#2badf2;
	border-radius:5px;
	border:1px solid #2badf2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:1% 3%;
	text-decoration:none;
}
.buttonDefault:hover {
	background:#1182e0;
}

.buttonBuscar{
	background:#2badf2;
	background-image: url('../media/css/lupa.png');
	background-repeat: no-repeat;
	border-radius:5px;
	border:1px solid #2badf2;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	width: 32px;
	height: 32px;
}

.buttonGrupo{
	background:#347bf7;
	border-radius:5px;
	border:1px solid #347bf7;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:1% 3%;
	margin:1%;
	text-decoration:none;
}

.buttonGrupo:disabled{
	background:#aaaaaa;
	border:1px solid #aaaaaa;
}


#menuForo {width:100%}
	
#menuForo a {
	color: #FFFFFF;
	height: 25px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	}	
	
#menuForo a:link, #menuForo a:visited {
	color: #FFFFFF;
	display: block;
	background:  url('../media/css/menuAzul.gif');
	padding: 8px 0 0 10px;
	}
	
	
#menuForo a:hover {
	color: #ffffff;
	background:  #002f55;
	padding: 8px 0 0 10px;
}

.miImagen{
	width:600px;
}	
	